.special_offer > h1{
    letter-spacing: 0.8em;
    font-family: inria Serif, serif;
    color: #0af3f3;
}

.view_btn:hover{
    color: #0af3f3;
}

.cart_SVG:hover{
    color: #0af3f3;
    cursor: pointer;
}


.view_btn{
    @apply relative top-[270px] w-[120px] p-2 text-2xl border-2 rounded bg-[#002E35] flex items-center justify-between hover:border-cyan-500;

    border-image: linear-gradient(to right, #0af3f3, #007bff)1;
}

.pimage{
    width: 450px;
    height: 520px;
    transition: .5s ease-in-out;
    position: relative;
}


.pimage:hover{

    /*@apply w-1/3 h-[570px];*/

    width: 550px;
    height: 620px;
    position: relative;
    /*left: 200px;*/

}

.beautify-heading {
    /* font-family: 'Your Chosen Font', sans-serif; */
    /* color: #333; */
    text-shadow: 8px 8px 16px rgba(17, 228, 210, 0.712);
    padding: 20px;
    margin: 0;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    /* background-image: linear-gradient( to bottom, #05b2b2, #23619a,#001c21); */
}

