.laptop_header{
    letter-spacing: 0.8em;
    font-family: inria Serif, serif;
    color: #0af3f3;


}

.slider {
    height: 10px;
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    margin-top: 10px;
}

/* Styles for the slider thumb */
.slider .thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #007bff;
    cursor: grab;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Styles for the slider active state */
.slider .thumb.active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.laptop_main_content_border{

    @apply w-full h-full  border-l-4 p-2;

    border-image: linear-gradient(to bottom, #0af3f3, #007bff)1;
}